@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial';
    list-style: none;
}

.switch {
    padding: 1rem;
    width: 10rem;
}

.switch li {
    margin: .5rem 0;
    display: flex;
    justify-content: space-between;
}

.switch input[type=radio]:hover {
    cursor: pointer;
}

.bigText {
    font-size: 2rem;
}

.footer {
    background-color: darkcyan;
    box-sizing: border-box;
    color: #ffffff;
    padding: 1rem;
    width: 100%;
}